body {
  font-family: 'Lato', sans-serif;
  background: #63747a;
}

#doors {
  position: absolute;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: calc(50% - 110px);
  left: 0;
}

a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  width: 200px;
  height: 220px;
}

img {
  max-width: 100%;
  height: 100%;
}
